*{ margin: 0;
padding: 0;}
html{
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/* 
navbar style */

.navbar{ 
    display: flex;
    align-items: center;
    justify-items: center;
    position: sticky;
    cursor: pointer;
    top: 0;
    


}

.nav-list{
    width: 47%;
    /* background-color: black; */
    display: flex;
    align-items: center;

}
.nav-list li{
    list-style: none;
    padding: 26px 36px ;

}
 .nav-list li a{
     text-decoration: none;
     color: white;
     font-size: 18px;
     font-family: 'Ubuntu', sans-serif;

     
}

.nav-list li a:hover{
    text-decoration: none;
    color:gray;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
   


}
.right-nav{
    
    width: 50%;
    /* background-color: blueviolet; */
    text-align: right;

}
.img{
    width: 40%;
    border:  3px solid white;
    border-radius: 50px;
}
#serch{
    padding: 2px;
    font-size: 17px;
    border-radius: 9px;
    border: 2px solid gray;
    margin: 22px 0px;

}
.background{
    background: rgba(0, 0, 0, 0.7) url('../img/pytho.jpg');
    background-size: cover;
    background-blend-mode:darken ;
}

/* 1Section */

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
    /* overflow: auto; */

}

.First-section{
    height: 100vh;
}
.fisrthalf{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.secoundhalf{

    width: 30%;
}

.secoundhalf img{
    width: 80%;
    margin: auto;
    display: block;
}
.bigtext{
    font-size: 30px;

}
.smalltext{
    font-size: 20px;
}

.btn{
    padding: 8px 10px;
    margin: 7px 5px;
    border: 1px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;

}
.btn-sm{
    padding: 6px 10px;
    align-items: center;
   vertical-align: middle;
        
}
.btn-dark{
    color:black;
    border: 1px solid black;
    margin: 1px 0px;
}
/* section2 */
/* .section-two{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    max-width: 75%;
    margin: auto; */
/* } */
.para-main{
    padding: 0px 40px;
}

/* section 3 */
.section{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    max-width: 75%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    
}
.left{
    flex-direction: row-reverse;
}

.classfluid{
    margin: 10px 0px;
    border: 1px solid red;
    border-radius: 20px;
    width: 400px;
    
}

/* contact */
.contact{
    background-color: rgb(231, 225, 216);
    height: 600px;
    
}
.head{
    text-align: center;
    padding: 30px;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.form{
    max-width: 62%;
    margin: 42px auto;
}

.form input{
    width: 100%;
    border: 2px solid gray;
    border-radius: 6px;
    font-size: 18px;
    margin: 10px 0px;
    padding: 5px 5px;
}
.biginput{
    width: 100%;
    border: 2px solid gray;
    border-radius: 6px;
    
    margin: 10px 0px;
    padding: 52px 5px;
}

.footer-text{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.burger{
    position:absolute;
    top: 15px;
    right: 7px;
    cursor: pointer;
    display: none;

}
.line{
    background-color: white;
    width: 30px;
    height: 4px;
    margin:5px 3px;
}


